/*Universal*/

body {
	background-color: black;
}

section {
	/* padding-top: 20px; */
}

h2 {
	font-family: 'Kanit', sans-serif;
	color: dimgray;
	padding-top: 30px;
}

.standard-padding {
	padding-left: 150px;
	padding-right: 150px;
}

.section-heading {
	padding-top: 30px;
	padding-bottom: 50px;
	margin-left: -10px;
	text-decoration: underline;
}

body-text {
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	color: darkgray;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;
	margin-left: 15px;
	box-sizing: border-box;

}

.brand-content {
	font-family: 'Kanit', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Navbar */
.navbar {
	background-color: transparent;
}

.blackbackground {
	background-color: black;
}

.nav-link {
	color: white;
}

.social-icon {
	padding-left: 15px;
}

/* Jumbotron -- Landing and Bio */
.jumbotron {
	height: 90vh;
	padding: 0 0 0 0;
	background-image: url("img/intro.jpg");
	background-size: cover;
}

#intro-bio-container {
	font-family: 'Kanit', sans-serif;
	color: white;
	font-size: 25px;
	padding-right: 15px;
	padding-left: 150px;
	width: 45%;
}

#brand-title {
	font-size: 100px;
	padding-top: 150px;
	padding-bottom: 20px;
	margin: -10px;
}

#jumbo-bio {
	width: 85%;
}

/* Endorsements */
#endorsement-container {
	width: 85%;
	margin: auto;
	justify-content: space-between;
}

.end-logo {
	max-height: 125px;
	max-width: 400px;
}

/* Video */
.video-row {
	justify-content: space-around;
}


/* Services */
#services-container {
	background-image: url("img/11070604_10203305657034545_5196206623599517502_n.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
}

.services-row {
	justify-content: center;
}

.col-lg-4-services {
	padding-left: 0px;
	padding-right: 0px;
}
.services-button {
	background-color: transparent;
	border: solid;
	border-width: thin;
	border-color: orange;
	height: 200px;
	color: lightslategray;
	font-family: 'Kanit', sans-serif;
	font-size: 45px;
}

/* Tour */
.tours-row {
	justify-content: space-around;
}
.sample-tour-img {
	height: 400px;
	width: 300px;
}

/* Contact */
#submit-btn {
	background-color: hotpink;
	color: black;
	border-color: gray;
}

.form-row {
	margin: 2px;
	width: 30vw;
}