/*Universal*/

body {
	background-color: black;
}

h2 {
	font-family: 'Kanit', sans-serif;
	color: dimgray;
}

.intro-container {
	height: 90vh;
	position: relative;
	background-position: 50%;
	background-size: cover;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box;

}


.brand-content {
	font-family: 'Kanit', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Navbar */
.navbar {
	background-color: transparent;
}

.blackbackground {
	background-color: black;
}
.collapse .navbar-collapse {
	/*justify-content: center;*/
}
/* For navbar style properties, overriding bootstrap*/
.navbar.center .navbar-inner {
	/*text-align: center;*/
}

.navbar.center .navbar-inner .nav {
	/*display: inline-block;*/
	/*float: none;*/
}

.nav-link {
	color: white;
}

.social-icon {
	padding-left: 15px;
}

.jumbotron {
	height: 90vh;
	padding: 0 0 0 0;
	position: relative;
}

#jumbo-img {
	width: 100%;
}

#jumbo-faux-nav {
	position: absolute;
	top: 20%;
	left: 12%;
	font-family: 'Trade Winds', cursive;
	color: white;
	/*color: #34000D;*/
	/*font-size: 10vh;*/
}

.brand-title {
	font-size: 10vh;
	padding-bottom: 20px;
}

.faux-nav-link {
	display: inline;
}

#intro-container {
	align-items: center;
}

#intro-bio {
	font-family: 'Kanit', sans-serif;
	font-size: 3.5vh;
	color: darkgray;
}

#intro-image {
	/*background-image: url(img/intro.jpg);*/
	padding-top: 2vh;
}

.endorsements-container {
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

/*.form-container {
	justify-content: center;
}*/

#submit-btn {
	background-color: hotpink;
	color: black;
	border-color: gray;
}

.form-row {
	margin: 2px;
	width: 30vw;
}